<ion-header>
  <ion-toolbar>
    <ion-title>Detalhar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

      <img [src]="url"/>
      <h2 style="text-align: center; text-align: justify;"> <b> {{ piada.pergunta }}  </b> </h2>
      <h3 style="text-align: center;"><span style="color: red">Resposta: </span> {{ piada.resposta }} </h3>

  </div>

</ion-content>
